/* mandatory parents init */
html, body {
    margin:  0;
    padding: 0;
    height:  100%;
}
body::-webkit-scrollbar { display:none; }

/* style init */
.slideshow,
.slideshow *:not(input) {
    all: unset;
    -ms-overflow-style:none;
    font-family:"メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif;
}
.slideshow input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    margin:  0;
    padding: 0;
}
.slideshow::-webkit-scrollbar,
.slideshow *::-webkit-scrollbar { display:none; }

/* default state */
.slideshow {
    --vw-per: 1;
    --vh-per: 1;
    --em-per: 1;
    --slide-width:  calc(var(--vh-per) * 100vh / 9 * 16);
    --slide-height: 100%;
    --font-size-base: calc(var(--slide-width) * 0.09);
    --font-size: calc(var(--font-size-base) * .45 * var(--em-per));

    position: relative;
    width:  var(--slide-width);
    height: var(--slide-height);
    font-size: var(--font-size);
}
@media (max-aspect-ratio: 16/9){
    .slideshow {
        --slide-width:  100%;
        --slide-height: calc(var(--vw-per) * 100vw / 16 * 9);
        --font-size-base: calc(var(--slide-height) * 0.16);
    }
}
.slideshow > .pages {
    counter-reset: current-page;
    width:  100%;
    height: 100%;
}
.slideshow,
.slideshow > .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.slideshow > .pages > section {
    counter-increment: current-page;
    visibility: hidden;
    position: absolute;
    width:  100%;
    height: 100%;
}

/* page counter */
.slideshow > .pages > section::before,
.slideshow > .pages > section:last-of-type::after {
    position: absolute;
    right:  0;
    bottom: 0;
}
.slideshow > .pages > section::before {
    content: counter(current-page);
    margin-right: 1.5em;
}
.slideshow > .pages > section:last-of-type::after {
    visibility: visible;
    content: "/"counter(current-page);
    font-size: 85%;
}

/* controllers init */
.slideshow > input,
.slideshow > .pages > section > input { position: absolute; opacity: 0; }
/* page flip */
.slideshow > input:nth-of-type(n+7) {
    width:   50%;
    height: 100%;
    z-index: 1;
    left: 0;
}
.slideshow > input:nth-of-type(n+7):checked { visibility: hidden; }
.slideshow > input:nth-of-type(n+7):checked ~ input { visibility: hidden ; left: auto; right: 0; }
.slideshow > input:nth-of-type(n+7):checked + input { visibility: inherit; }
.slideshow > input:nth-of-type( 7):checked ~ .pages > section:nth-of-type( 1) { visibility: visible; }
.slideshow > input:nth-of-type( 8):checked ~ .pages > section:nth-of-type( 2) { visibility: visible; }
.slideshow > input:nth-of-type( 9):checked ~ .pages > section:nth-of-type( 3) { visibility: visible; }
.slideshow > input:nth-of-type(10):checked ~ .pages > section:nth-of-type( 4) { visibility: visible; }
.slideshow > input:nth-of-type(11):checked ~ .pages > section:nth-of-type( 5) { visibility: visible; }
.slideshow > input:nth-of-type(12):checked ~ .pages > section:nth-of-type( 6) { visibility: visible; }
.slideshow > input:nth-of-type(13):checked ~ .pages > section:nth-of-type( 7) { visibility: visible; }
.slideshow > input:nth-of-type(14):checked ~ .pages > section:nth-of-type( 8) { visibility: visible; }
.slideshow > input:nth-of-type(15):checked ~ .pages > section:nth-of-type( 9) { visibility: visible; }
.slideshow > input:nth-of-type(16):checked ~ .pages > section:nth-of-type(10) { visibility: visible; }
.slideshow > input:nth-of-type(17):checked ~ .pages > section:nth-of-type(11) { visibility: visible; }
.slideshow > input:nth-of-type(18):checked ~ .pages > section:nth-of-type(12) { visibility: visible; }
.slideshow > input:nth-of-type(19):checked ~ .pages > section:nth-of-type(13) { visibility: visible; }
.slideshow > input:nth-of-type(20):checked ~ .pages > section:nth-of-type(14) { visibility: visible; }
.slideshow > input:nth-of-type(21):checked ~ .pages > section:nth-of-type(15) { visibility: visible; }
.slideshow > input:nth-of-type(22):checked ~ .pages > section:nth-of-type(16) { visibility: visible; }
.slideshow > input:nth-of-type(23):checked ~ .pages > section:nth-of-type(17) { visibility: visible; }
.slideshow > input:nth-of-type(24):checked ~ .pages > section:nth-of-type(18) { visibility: visible; }
.slideshow > input:nth-of-type(25):checked ~ .pages > section:nth-of-type(19) { visibility: visible; }
.slideshow > input:nth-of-type(26):checked ~ .pages > section:nth-of-type(20) { visibility: visible; }

/* in page increment */
/* .slideshow > .pages > section > section { visibility: hidden; } */
.slideshow > .pages > section > input { 
    position: absolute;
    right: 0;
    width:   50%;
    height: 100%;
    z-index: 1;
}
.slideshow > .pages > section > input:checked { right: auto; }
.slideshow > .pages > section > input ~ input { visibility: hidden; }
.slideshow > .pages > section > input:checked + input { visibility: inherit; }
.slideshow > .pages > section > input:nth-of-type(1):checked ~ section:nth-of-type(1) { visibility: inherit; }
.slideshow > .pages > section > input:nth-of-type(2):checked ~ section:nth-of-type(2) { visibility: inherit; }
.slideshow > .pages > section > input:nth-of-type(3):checked ~ section:nth-of-type(3) { visibility: inherit; }

/* connect to session button */
.slideshow > input[name="sessionToggler"]{
    display: none;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

/* List view */
.slideshow > input:nth-of-type(6) {
    right:  0;
    bottom: 0;
    z-index: 3;
    width:  3%;
    height: 8%;
}
.slideshow > input:nth-of-type(6):checked ~ .pages { position: absolute; }
.slideshow > input:nth-of-type(6):checked ~ input:nth-of-type(n+7),
.slideshow > input:nth-of-type(6):checked ~ .pages > section {
    visibility: visible;
    position: relative;
    flex-grow:   0;
    flex-shrink: 0;
    width:  20%;
    height: 20%;
    font-size: 20%;
}
.slideshow > input:nth-of-type(6):checked ~ .pages > section                 { margin: .2em; border: .1em solid; }
.slideshow > input:nth-of-type(6):checked ~ input[type="radio"][name="flip"] { margin: .3em; }
/* inputs add-on */
.slideshow > input:nth-of-type(6):checked ~ .pages > section input   { visibility: hidden; }
.slideshow > input:nth-of-type(6):checked ~ .pages > section section { visibility: visible; }
/* page counter add-on */
.slideshow > input:nth-of-type(6):checked ~ .pages > section:last-of-type::after { visibility: hidden; }
.slideshow > input:nth-of-type(6):checked ~ .pages > section::before {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 180%;
}
/* button add-on */
.slideshow > input:nth-of-type(6):checked ~ input[name="sessionToggler"]{ display: inline; }

/* input invalidation checkbox */
.slideshow > input:nth-of-type(1) {
    bottom: 0;
    width: 100%;
    height: 1em;
    z-index: 2;
    opacity: 1;
}
.slideshow > input:nth-of-type(1):checked ~ input:nth-of-type(6):not(:checked) ~ input:nth-of-type(n+7),
.slideshow > input:nth-of-type(1):checked ~ .pages input {
    z-index: -1;
}
.slideshow > input:nth-of-type(1)::before {
    display: block;
    text-align: center;
    color: white;
}
.slideshow > input:nth-of-type(1)::before { content: "□"; }
.slideshow > input:nth-of-type(1):checked::before { content: "■"; }


/* debug&test styling */
.slideshow section {
    transition-duration: .1s;
    transition-timing-function: ease;
    transition-property: width, height;
}
/* .slideshow > input:hover,
.slideshow > .pages > section > input:hover { opacity: 0.2; } */
/* .slideshow > input:nth-of-type(2):checked ~ .pages > section::before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.35));
} */